@import url(https://fonts.googleapis.com/css?family=Oswald);

* {
    border: 1px solid red;
    font-family: 'Oswald', sans-serif;
    text-align: center;
}

#title {
    background: yellow;
    /*add CSS here*/
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px ;
    margin-left: 110px;
    margin-right: 110px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 60px;
}

#subtitle {
    background: black;
    color: white;
    /*add CSS here*/
    margin: auto;
    margin-top: 35px;
    margin-bottom: 40px ;
    margin-left: 110px;
    margin-right: 110px;
    
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 50px;
    padding-right: 50px;
    
}

.topic {
    background: lightgray;
    /*add CSS here*/
    margin:100px;
    display:inline-block;
    
}

